
#trees{
    top: -173px;
}
#track{
    top: -38px;
}
#car img{
    top: 384px;
    left: 6px;}
#leftwheel{
    top:412px;
    left: 23px;
}
#rightwheel{
    top: 417px;
    left: 157px;
}