#trees{
     height: 86vh;;
     top: -41px;
}
#car img{
    
    left: 77px;
    top:604px;
    
}
#leftwheel{
    left: 93px;
    top:629px;
    height: 67px;
    width: 76px;
}
#rightwheel{
    top: 637px;
    left: 228px;
    height: 67px;
    width: 76px;

}
