
#trees{
    top: -173px;
}
#track{
    top: -38px;
}
#car img{
    top: 320px;
    left: 6px;
}
#leftwheel{
    top: 344px;
    left: 35px;
}
#rightwheel{
    top: 349px;
    left: 169px;
}